<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Уведомления</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <form method="POST" action="{{ url_for('notifications') }}">
            <div class="table-container">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Кто взял</th>
                            <th>Сумма долга</th>
                            <th>Возвращено</th>
                            <th>Остаток</th>
                            <th>Дата создания</th>
                            <th>Комментарий</th>
                            <th>Выбрать</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for debt in debts %}
                        <tr>
                            <td>{{ debt.borrower.client_name }}</td>
                            <td>{{ debt.debt_amount }}</td>
                            <td>{{ debt.debt_amount_return }}</td>
                            <td>{{ debt.debt_amount - debt.debt_amount_return }}</td>
                            <td>{{ debt.create_dttm.strftime('%Y-%m-%d %H:%M') }}</td>
                            <td>{{ debt.debt_comm or "Нет" }}</td>
                            <td>
                                <input type="radio" name="debt_id" value="{{ debt.debt_id }}" required>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <br>
            <label for="notification_text">Текс уведомления:</label>
            <input type="text" name="notification_text" id="notification_text">
            <br>


            <div class="button-container">
                <button type="submit" class="btn btn-register">Отправить уведомление</button>
                <a href="/" class="btn btn-login">Отмена</a>
            </div>
        </form>

    </div>
</body>
</html>