<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Стартовая</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <form method="POST" class="text-center">
            <label>Сайт "Верни сотку" приветствует тебя</label>
            <div class="button-container">
                <a href="/register" class="btn btn-register">Зарегистрироваться</a>
                <a href="/login" class="btn btn-login">Войти</a>
            </div>
        </form>
    </div>
</body>
</html>